body{
    text-align: center;
    padding: 100px 0;
    background-image: url("./weatherImg.png");
}
.current{
    max-width: 30%;
    background-color:white;
    text-align: center;
    margin-left: 37%;
}
.days{
    max-width: 30%;
    background-color:white;
    text-align: center;
    margin-left: 37%;
}
.header{
    font-size: 35px;
    font-weight: bold;
    color: cyan;
}
.blurr{
    background-color:black;
    max-width: 33%;
    margin-left: 35%;
}