body{
    text-align: center;
    padding: 100px 0;
    background-image: url("./weatherImg.png");
}
.current{
    max-width: 30%;
    background-color:white;
    text-align: center;
    margin-left: 37%;
}
.days{
    max-width: 30%;
    background-color:white;
    text-align: center;
    margin-left: 37%;
}